/*h1, h2, h3 {
    color: rgb(255, 255, 255); 
    background-color: rgb(8, 107, 13);
 } */

 p{
    background-color: black;
    color: greenyellow
 }

#titulos {
    background-color: black;
    color: aqua;
}